Repository chrischtel/ferrum, changes with the labels that .github/labeler.yml gives for each.
All labels: component: frontend, component: backend, component: core, component: build, type: documentation, type: tests, type: ci, type: examples, breaking change

update workflows
  .github/workflows/ci.yml
Labels: component: build, type: ci

update workflows
  .github/workflows/ci.yml
Labels: component: build, type: ci

fix fmt issues
  frontend/build.rs
  frontend/src/lexer/mod.rs
  frontend/src/lexer/tests.rs
  frontend/src/lib.rs
  frontend/src/main.rs
Labels: component: frontend, type: tests, breaking change

fix broken test due to incompletion of backend
  frontend/src/lib.rs
Labels: component: frontend

remove zig build test job from ci.yml
  .github/workflows/ci.yml
Labels: component: build, type: ci

chore(workflows): fix cross compile issues
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  frontend/build.rs
Labels: component: frontend, component: build, type: ci

fix clippy errors
  frontend/build.rs
Labels: component: frontend

.github/labeler.yml:

# Configuration for the labeler action
# https://github.com/actions/labeler

# Frontend changes
"component: frontend":
  - frontend/**/*
  - frontend/src/lexer/**/*
  - frontend/src/parser/**/*
  - frontend/src/analyzer/**/*
  - frontend/src/ir/**/*

# Backend changes  
"component: backend":
  - backend/**/*
  - backend/src/**/*

# Core runtime changes
"component: core":
  - core/**/*
  - core/src/**/*

# Build system changes
"component: build":
  - build.zig
  - "*/build.zig"
  - Cargo.toml
  - "*/Cargo.toml"
  - .github/workflows/**/*

# Documentation changes
"type: documentation":
  - "**/*.md"
  - docs/**/*

# Test changes
"type: tests":
  - "*/tests/**/*"
  - "**/tests.rs"
  - "**/*test*.rs"

# CI/CD changes
"type: ci":
  - .github/**/*

# Examples
"type: examples":
  - examples/**/*

# Breaking changes (manual review needed)
"breaking change":
  - frontend/src/lexer/**/*
  - frontend/src/parser/**/*
  - core/src/**/*
